# Dependencies
node_modules/

# Parcel & Build Output
dist/
.parcel-cache/

# Environment Files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db